@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap");

:root {
  --brand-color: #dff30a;
  --dark-bg: #120c0c;
  --neutral-bg: #fbfde5;
  --dark-light-bg: #363b3b;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  background: var(--neutral-bg);
  font-weight: 400;
  font-size: 100%;
}

.container {
  display: grid;
  width: 100%;
  place-items: center;
  height: 100vh;
}

.card {
  border-radius: 16px;
  background: var(--dark-light-bg);
  color: var(--white);
  display: grid;
  grid-template-rows: auto auto auto auto;
  box-shadow: 0px 10px 20px -10px rgb(0 0 0 / 75%);
  width: 350px;
  max-width: 100%;
  padding-top: 16px;
}

header {
  text-align: center;
  margin-bottom: 16px;
}

.profile-pic {
  border-radius: 50%;
  padding: 8px;
  border: 1px solid var(--white);
  max-width: 50%;
}

h1 {
  font-size: 32px;
  font-family: "Lora", serif;
  font-weight: 600;
}

.subtitle {
  margin-top: 4px;
  font-size: 16px;
  display: block;
  font-weight: 400;
  color: var(--brand-color);
}

main {
  text-align: center;
  font-weight: 300;
}

aside {
  margin: 24px auto;
}

.social-media {
  position: relative;
  width: 100%;
  z-index: 1;
  text-align: center;
}

.social-media i {
  width: 50px;
  height: 50px;
  background: #565d5c;
  border-radius: 50%;
  color: #f1f1f1;
  font-size: 20px;
  line-height: 50px !important;
  margin: 0px 7px;
  position: relative;
  box-shadow: 0 0 1px 1px #565d5c;
}

.social-media i:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--brand-color);
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: -1;
  transition: 0.4s linear;
  border: none;
}

.social-media i:hover:after {
  transform: scale(1.4);
  opacity: 0;
}

.btn-wrapper {
  position: relative;
  width: 100%;
  z-index: 1;
  text-align: center;
  margin-top: 16px;
}
.btn {
  border: 1px solid var(--neutral-bg);
  padding: 8px 12px;
  text-align: center;
  color: var(--white);
  max-width: 180px;
  display: block;

  position: relative;
  background: #565d5c;
}

.btn:hover {
  background: #dff30a;
  color: #000;
  transition: 0.4s linear;
}

.btn:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--brand-color);
  left: 0;
  top: 0;
  box-sizing: border-box;
  z-index: -1;
  transition: 0.4s linear;
  border: none;
}

.btn:hover::after {
  transform: scale(1.2);
  opacity: 0;
}

footer {
  padding: 12px;
  background-color: var(--dark-bg);
  border-radius: 0 16px 16px;
}

footer p {
  padding: 8px;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.skills-wrapper .skill {
  border: 1px solid var(--white);
  margin: 4px;
  padding: 8px;
}
